body {
	/*background-color: RGB(52, 161, 235);*/
	background-color: #4272b8;
}


.content h1{
	font-family: 'Satisfy', cursive;
	font-size: 50px;
	color: #4272b8;

}

.content{
	font-size: 20px;
	/*background-image: url("bg.jpg");*/
	background-color: #ffe4cf;
	width: 70%;
	margin-top: 0px;
	margin: 100px;
	padding: 40px;
	color: #4272b8;
	text-align: center;
}

.images {
	width: 500px;
	border-radius: 30px;
}




