footer{
	color: #ffe4cf;
/*	padding: 0px;
	position: relative;
	bottom: 10px;
	right: 100px;*/
}

/*.right{
	color: #ffe4cf;
	padding: 0px;
	position: relative;
	bottom: 10px;
	right: 100px;
}*/

/*.social{
	color: #ffe4cf;

}*/